* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    margin: 50px;
    height: 100%;
    padding: 30px;
}

/* Style the tab */
.tab {
    float: left;
    background-color: white;
    width: 40%;
    height: 402px;
}

/* Style the buttons inside the tab */
.tab button {
    display: block;
    background-color: inherit;
    padding: 12px 16px;
    color: black;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    transition: all 0.5s;
    cursor: pointer;
    font-size: 17px;
    height: 80px;
    text-decoration: none;
    font-size: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: grey;
    color: white;
}
/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #0078d4;
    color: white;
}

/* Style the tab content */
.tabcontent {
    float: left;
    width: 60%;
    height: 402px;
    display: none;
}

/* Clear floats after the tab */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Left column (menu) */
.left {
    padding: 0px 40px;
}

.rightmenu {
    padding: 0px 40px;
}

.rightmenuNoRecord {
    padding: 120px 80px;
}

/* Style the search box */
#mySearch {
    width: 100%;
    font-size: 18px;
    padding: 10px;
}

#mySearch1 {
    width: 100%;
    font-size: 18px;
    padding: 10px;
}

/* Style the navigation menu inside the left column */
#myMenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 310px;
}

#myMenu li a {
    font-style: Normal;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    padding: 19px;
}

#myMenu li a:hover {
    background-color: grey;
    color: black;
    font-weight: bold;
}

/* Style the navigation menu inside the left column */
#myMenu1 {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 310px;
}

#myMenu1 li a {
    font-style: Normal;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    padding: 19px;
}

#myMenu1 li a:hover {
    background-color: grey;
    color: black;
    font-weight: bold;
}

/* Style the buttons inside the tab */
.BackToMailBoxButton {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 90px;
    transition-duration: 0.5s;
}

/* Change background color of buttons on hover */
.BackToMailBoxButton:hover {
    background-color: Brown;
    color: white;
}
/* Create an active/current "tab button" class */
.BackToMailBoxButton.active {
    background-color: #0078d4;
    color: white;
}

.list-group-item {
    position: relative;
    display: Block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
    font-size: 20px;
}

.list-group-item:hover {
    background-color: grey;
    color: black;
    font-weight: bold;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.col-sm-12 {
    width: 100%;
}

.left {
    padding: 0px 40px;
}

.panel-primary {
    border-color: #337ab7;
}

.panel {
    float: left;
    background-color: #fff;
    width: 80%;
    height: 402px;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

/* Set a style for all buttons */
.buttonPopup_FileInfo {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: Auto;
    transition-duration: 0.5s;
}

.buttonPopup_FileInfo:hover {
    background-color: brown;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Extra styles for the cancel button */
.cancelbtn {
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 90px;
    transition-duration: 0.5s;
}

.cancelbtn:hover,
.cancelbtn:focus {
    background-color: red;
    cursor: pointer;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 20%;
    border-radius: 30%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: white;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 20%; /* Could be more or less, depending on screen size */
    height: 40%;
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
