<div>
    <br />
</div>
<div class="tab">
    <ng-container *ngFor="let folder of mailFolders; index as i">
        <button class="tablinks" [ngClass]="{ active: selectedFolder === i }" (click)="changeMailFolder(i)">
            <i class="fa fa-fw fa-envelope"></i> {{ folder?.name }}
            <span *ngIf="selectedFolder === i">
                {{ " (" + folder?.count + ")" }}
            </span>
        </button>
    </ng-container>
</div>
<div id="EDW" class="tabcontent" style="display: block">
    <div class="left" style="background-color: white">
        <form [formGroup]="searchForm">
            <div class="row">
                <div class="col-lg-8">
                    <input type="text" id="mySearch" formControlName="keyWord" placeholder="Search.."
                        (click)="doContentSearch()" (blur)="toggleMailsView()" />
                </div>
                <div class="col-lg-4">
                    <button class="btn-custom" [disabled]="contentSearchText === ''">
                        Search
                    </button>
                    <button class="btn-custom">Delete</button>
                </div>
            </div>
        </form>
        <div *ngIf="!displayContentSearch; else contentSearchResult" class="panel">
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let mail of mailsViewable; index as i">
                    <div class="row">
                        <div class="col-lg-2">
                            <i class="fa fa-th-large" aria-hidden="true"></i>
                            <input type="checkbox" class="mail-selection" style="margin: 1rem" />
                        </div>
                        <div class="col-lg-8 mail-subject">
                            {{ mail?.subject }}
                        </div>
                        <div class="col-lg-2 right">
                            <i class="fa fa-download" aria-hidden="true"> </i>
                            <a data-toggle="collapse" href="{{ '#collapseExample_' + i }}" style="margin-left: 2rem"
                                role="button" aria-expanded="false" aria-controls="collapseExample">
                                <i class="fa" [ngClass]="{
                                        'fa-chevron-down': mail.isCollapased,
                                        'fa-chevron-up': !mail.isCollapased
                                    }" aria-hidden="true" (click)="toggleItemView(mail)"></i>
                            </a>
                        </div>
                    </div>
                    <div class="collapse row mail-details" id="{{ 'collapseExample_' + i }}">
                        <div class="card card-body border-light">
                            <p class="card-content">From: {{ mail?.from }}</p>
                            <p class="card-content">Date: {{ mail?.date }}</p>
                            <p class="card-content">
                                Subject: {{ mail?.subject }}
                            </p>
                            <hr />
                            <p class="card-content">
                                <ng-container *ngFor="let attachment of mail?.attachments">
                                    <a href="" class="attachments">
                                        <i class="fa fa-download" aria-hidden="true"></i>
                                        {{ attachment }}
                                        <i class="fa fa-paperclip" aria-hidden="true"></i>
                                    </a>
                                </ng-container>
                                <!-- <a href="" class="attachments">
                                    <i class="fa fa-download" aria-hidden="true"></i>
                                    Download All
                                </a> -->
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
            <nav class="panel-footer">
                <div class="pagination">
                    <a href="javascript:void(0)" (click)="changePage(1)">First</a>
                    <a href="javascript:void(0)" (click)="back()">&laquo;</a>
                    <ng-container *ngFor="let n of pagination?.pages; index as i">
                        <a href="javascript:void(0)" (click)="changePage(n)" [ngClass]="{
                                active: n === pagination?.config.selected
                            }">{{ n }}</a>
                    </ng-container>
                    <a href="javascript:void(0)" (click)="next()">&raquo;</a>
                    <a href="javascript:void(0)" (click)="changePage(pagination?.config.last)">Last</a>
                    <a href="javascript:void(0)">{{
                        "Page " +
                            pagination?.config.selected +
                            " of " +
                            pagination?.config.last
                    }}</a>
                </div>
            </nav>
        </div>
        <ng-template #contentSearchResult>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let result of contentSearchResults">
                    <a [href]="result?.path">{{ result?.name + ' (' + result?.size + ' ) KB' }}</a>
                </li>
            </ul>
        </ng-template>
    </div>
</div>
