* {
    box-sizing: border-box;
}

.landing {
    margin: 0px 50px;
    padding: 30px;
}
.landing *:not(.fa) {
    font-family: "Lato", sans-serif;
}
/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
