<div>
    <br />
</div>

<div class="tab">
    <ng-container *ngFor="let box of mailBoxes;let i = index; trackBy: trackByFn">
        <button class="tablinks" (click)="showDetails(i, box)" [ngClass]="{'active': currentIndex === i}">
            <i class=" fa fa-fw fa-envelope"></i>&nbsp;{{box.name}}
            <ng-container *ngIf="box.count">({{box.count}})</ng-container>
        </button>
    </ng-container>
</div>

<div class="tabcontent" *ngIf="selectedMailbox.count">
    <div class="left" style="background-color: white;">
        <input type="text" id="mySearch" [(ngModel)]="searchFolder" (keyup)="searchFolderNames()"
            placeholder="Search.." />
    </div>
    <div class="rightmenu" style="background-color: white;">
        <ul id="myMenu">
            <ng-container *ngFor="let folder of mailFolders;let i = index; trackBy: trackByFn">
                <li><a>{{folder.name}}
                        <ng-container *ngIf="folder.count">({{folder.count}})</ng-container>
                    </a>
                </li>
            </ng-container>
        </ul>
    </div>
</div>

<div class="tabcontent" *ngIf="!selectedMailbox.count">
    <div class="rightmenuNoRecord" style="background-color: white;">
        <h1>
            <i class="fa fa-fw fa-exclamation-triangle"></i> No Reports
            Available
        </h1>
    </div>
</div>

<div class="clearfix"></div>
<div>
    <br />
</div>

<button class="buttonPopup" (click)="togglePopup(true);" style="width: auto;">
    Add New MailBox
</button>

<div class="modal" [hidden]="!showPopup">
    <form class="modal-content animate" [formGroup]="mailForm">
        <div class="imgcontainer">
            <span (click)="togglePopup(false)" class="close" title="Close Modal">&times;</span>
            <img src="assets/images/email.jpg" alt="Avatar" class="avatar" />
        </div>

        <div class="container">
            <label for="Server"><b>Server</b></label>
            <div class="validate-input" data-validate="Enter Server" [ngClass]="{
                        'alert-validate': servername.invalid && servername.dirty
                    }">
                <input type="text" placeholder="Enter Server Name" name="Server" formControlName="servername" />
            </div>

            <label for="Username"><b>Username</b></label>
            <div class="validate-input" data-validate="Enter User name" [ngClass]="{
                'alert-validate': username.invalid && username.dirty
            }">
                <input type="text" placeholder="Enter Username" name="Username" formControlName="username" />
            </div>

            <label for="psw"><b>Password</b></label>
            <div class="validate-input" data-validate="Enter Password" [ngClass]="{
                'alert-validate': password.invalid && password.dirty
            }">
                <input type="password" placeholder="Enter Password" name="psw" formControlName="password" />
            </div>

            <button class="buttonPopup w3-left" (click)="addServer()">Add</button>
            <button type="Button" class="cancelbtn w3-right" (click)="togglePopup(false)">
                Cancel
            </button>
        </div>
    </form>
</div>