<div>
    <br />
</div>

<div class="tab">
    <ng-container *ngFor="let box of mailBoxes;let i = index; trackBy: trackByFn">
        <button class="tablinks" (click)="showDetails(i, box)" [ngClass]="{'active': currentIndex === i}">
            <i class=" fa fa-fw fa-envelope"></i>&nbsp;{{box.name}}
            <ng-container *ngIf="box.count">({{box.count}})</ng-container>
        </button>
    </ng-container>
</div>

<div class="tabcontent" *ngIf="selectedMailbox.count">
    <div class="left" style="background-color: white;">
        <input type="text" id="mySearch" [(ngModel)]="searchFolder" (keyup)="searchFolderNames()" placeholder="Search.." />
    </div>
    <div class="rightmenu" style="background-color: white;">
        <ul id="myMenu">
            <ng-container *ngFor="let folder of mailFolders;let i = index; trackBy: trackByFn">
                <li><a>{{folder.name}}
                        <ng-container *ngIf="folder.count">({{folder.count}})</ng-container>
                    </a>
                </li>
            </ng-container>
        </ul>
    </div>
</div>

<div class="tabcontent" *ngIf="!selectedMailbox.count">
    <div class="rightmenuNoRecord" style="background-color: white;">
        <h1>
            <i class="fa fa-fw fa-exclamation-triangle"></i> No Reports
            Available
        </h1>
    </div>
</div>

<div class="clearfix"></div>
<div>
    <br />
</div>

<button class="buttonPopup" (click)="togglePopup(true);" style="width: auto;">
    Add New MailBox
</button>

<div id="id01" class="modal" [hidden]="!showPopup">
    <form class="modal-content animate">
        <div class="imgcontainer">
            <span (click)="togglePopup(false)" class="close"
                title="Close Modal">&times;</span>
            <img src="assets/images/email.jpg" alt="Avatar" class="avatar" />
        </div>

        <div class="container">
            <label for="Server"><b>Server</b></label>
            <input type="text" placeholder="Enter Server Name" name="Server" required />

            <label for="Username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="Username" required />

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required />

            <button class="buttonPopup w3-left">Add</button>
            <button type="Button" class="cancelbtn w3-right"
                onclick="document.getElementById('id01').style.display='none'">
                Cancel
            </button>
        </div>
    </form>
</div>